.app {
  width: 80vw;
  margin-left: 10vw;
}

p {
  font-size: 3rem;
}

span {
  color: orange;
}

img {
  width: 50px;
}

.black {
  border: 1px solid black;
}

.red {
  color: red;
  border: 1px solid red;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}

.table thead {
  font-weight: bold;
}

.table td, th {
  border: 1px solid black;
  padding: 0.5em 1em;
}


